{% extends "base.html" %}

{% block title %}Ordens de Serviço - Sistema SEMAPA{% endblock %}

{% block content %}
<h1>Ordens de Serviço</h1>
<table id="ordens-servico-lista">
    <thead>
        <tr>
            <th>Número</th>
            <th>Responsável</th>
            <th>Data Emissão</th>
            <th>Status</th>
            <th>Observação</th>
            <th>Data Execução</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/renderer_os_listar.js') }}"></script>
{% endblock %}
